.create-credentials-container {
  & form {
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
    & .field {
      width: 100%;
      margin: 1rem;
    }
    & input {
      width: 100%;
    }
    & button[type="submit"] {
      width: fit-content;
    }
    & .submit-container {
      margin-top: 3rem;
    }
    & p.error {
      color: #ff2869;
      margin-top: 4px;
    }
  }
}
