.loginpage-container{
    width: 100%;
    height: 100vh;
    position: relative;

    & .loading-container {
        margin-top: 1rem;
        & p{
            margin-left: 0.5rem;
            color: #fff;
            font-size: 0.8rem;
            opacity: 0.7;
        }
    }
}