* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(121.82deg, #0b101d 0%, #17274f 68.4%);
}

a:visited,
a:not(:visited) {
  color: initial;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  animation-name: disableAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Exo 2", sans-serif;
}

@keyframes disableAnimation {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 0.2;
  }
}
