// Primary colors
$primary-color: #2b32ee;
$placeholder-color: rgba(255,255,255,0.2);
$error-color: #ff2869;
$error-bg-container: rgba(255, 40, 105, .1);


$sidebar-active-icon: #00d1ff;
$sidebar-inactive-link: rgba(255,255,255,0.7);

// Components colors
$labels-color: #afafaf;
