.sidebar-header {
  width: 100%;
  & h2,
  & p {
    color: #fff;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & p{
      opacity: 0.8;
  }
  & .line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0.75rem 0;
  }
}
